
 .ChatApp {
  padding: 10px;
  height: 250vh;
  
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
 }

  .ChatApp::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  .ChatApp::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  .ChatApp::-webkit-scrollbar-thumb {
    background: #382866;
  }
  
  
 