.boxWrapper {
  background: black;
  width: 275px;
}

.active-link {
  color: rgb(94, 255, 0);
  border-bottom: 1px solid white;
}

.Loginwith {
  background-color: white;
  font-family: "Robot Mono", monospace;
  color: rgb(97, 8, 8);
}

.emailbox {
  background-color: white;
  font-family: "Robot Mono", monospace;
  color: rgb(97, 8, 8);
}

#loginForm {
  background-color: #14ff3b;
  border-width: 1px;
  width: 100%;
}

.input-btn2 {
  width: 100%;
  height: 30px;

  outline: 0;

  border: 2px solid rgb(179, 255, 0);
  border-bottom: 2px solid rgb(89, 0, 255);
  font-size: 15px;
  overflow: hidden;
  cursor: pointer;
  background: #e6dfdf;

  font-weight: 500;
  transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
  border-radius: 15px;
}
​ .input-btn2:focus {
  outline: 1px dashed blue;
}

.input-btn2:hover {
  color: rgba(22, 247, 236, 0.993);
  border: 1px solid #1900ff;
  box-shadow: 0 0 20px #14ff3b;
}
