.autoFit {
  width: 100%;
  border-radius: 2px;
  margin: 0.5em auto;
  border: 1px solid black;
}

.image-autoFit {
  width: 100%;
}

.heading{
  height: 95px;
  color: blue;
  /* background-color: red; */
   background-image: url('../images/Zeke.gif');   
  padding-bottom: 5em;
 
}


