/*Importing the Bootstrap CSS files*/
@import "bootstrap/dist/css/bootstrap.min.css";

.active-link {
  color: rgb(94, 255, 0);
  border-bottom: 1px solid white;
 
}



.Sign-up-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.form {
  margin-left: 12%;
  width: fit-content;
  height: 100%;
  padding: 20px;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #272929;
  border-radius: 25px;
  border: 2px solid #88032b;
  color: rgb(60, 57, 245);
}

.input-btn {
  padding: 20px 40px;
  float: center;
  width: fit-content;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  outline: 0;
  border-width: fit-content;
  border: 2px solid rgb(255, 51, 0);
  border-bottom: 2px solid rgb(89, 0, 255);
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  background: #faf8f8;
  color: rgb(20, 23, 24);
  font-weight: 500;
  transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
  border-radius: 25px;
}
​ .input-btn:focus {
  outline: 1px dashed red;
}

.input-btn:hover {
  color: rgba(255, 64, 0, 0.993);
  border: 1px solid #1fec04;
  box-shadow: 0 0 20px #ffffff;
}
