.footer {
  bottom: 0;
  padding: 4% 15% 2% 5%;
}
.ft-text {
  font-weight: bolder;
  font-size: 4vh;
  line-height: 110%;
  font-family: "sans-serif";
}
.ft-text li {
  font-size: 2.5vh;
  font-family:  "sans-serif";
}
.col {
  margin-left: 5%;
}
.ft-link {
  text-align: center;
  font-size: 2.5vh;
  font-family:  "sans-serif";
  text-decoration: none;
  color: #222831;
  cursor: pointer;
  background-color: gray;
}
.ft-link:hover,
.ft-link-logo:hover {
  font-weight: 500;
  text-decoration: none;
  color: #222831;
  font-family:   "sans-serif";
  
}