.footer {
  bottom: 0;
  /* padding: 4% 15% 2% 5%;  */
  background-color: gray;
  text-align: center;
}

.pages{
  text-align: center;
  width: 880px;
  margin: auto;

}
.ft-text {
  font-weight: bolder;
  font-size: 1vh; 
  line-height: 110%; 
  font-family: "sans-serif";
  padding-left: 5px;
}
.ft-text li {
  font-size: 5.5vh;
  font-family:  "sans-serif";
}
.col {
  margin-left: 15%;
  background-color: white;
}
.ft-link {
  text-align: center;
  font-size: 1.25vh;
  font-family:  "sans-serif";
  text-decoration: none;
  color: #222831;
  cursor: pointer;
  background-color: gray;
}
.ft-link:hover,
.ft-link-logo:hover {
  font-weight: 300;
  text-decoration: none;
  color: #222831;
  font-family:   "sans-serif";
  background-color: white;
  
}
.col-lg{
  margin-left: 10%;
  margin-right: 10%;
  color: skyblue;
  font-weight: 500;
}

/* .about-h1{
  margin-left: 10%;
  margin-right: 10%;
  color: black;
  font-weight: 500;
}
 */