.App {
  background: rgb(255, 255, 255);
  width: 900px;
  text-align: center;
  margin: auto;
}

.active-link {
  color:rgb(94, 255, 0);
  border-bottom:1px solid white;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

*{
  background: #f6f7f8;
  font-family: 'Robot Mono', monospace;
  color: rgb(97, 8, 8);
}

.form2 {
  /* margin-left: 25%; */
  margin-right:25%;
  /* width: 50%; */
  /* padding: 10px; */
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #111cb1; 
  border-radius: 25px;
  border: 1px solid #2b0388;
  position: relative;
  text-align: left;
  float: left;
  
  
}

.input-btn{
  padding: 20px 40px;
  text-align: center;
  width: fit-content;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin: 20px;
  outline: 0;
  display: flex;
  border: 2px solid rgb(179, 255, 0);
  border-bottom: 2px solid rgb(89, 0, 255);
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  
  background: #e6dfdf;
  color: #0f5339;
  font-weight: 500;
  transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
  border-radius: 25px;
}
​
.input-btn:focus{
  outline: 1px dashed blue;
}

.input-btn:hover { 
  color: rgba(22, 247, 236, 0.993); 
  border: 1px solid #1900ff;
  box-shadow: 0 0 20px #14ff3b; 
} 